<body>
    <div class='all-app-content'>
        <div id='login'>
            <app-login></app-login>
        </div>
        <div>
            <table class='table'>
                <tr>
                    <td class='message-block'>
                        <a routerLink=""></a>
                        <a routerLink="/snowboarding"></a>
                        <a routerLink="/skating"></a>
                        <a routerLink="/surfing"></a>
                        <router-outlet></router-outlet>
                    </td>
                    <td class='rooms'>
                        <app-rooms></app-rooms>
                    </td>
                </tr>
            </table>
        </div>
        <div class='input'>
            <app-message-writter></app-message-writter>
        </div>
    </div>
</body>