<h3 id='your-rooms'>Your rooms</h3>
<mat-list class="room">
    <a routerLink="">
        <mat-list-item class="single-room"> General </mat-list-item>
    </a>
    <a routerLink="snowboarding">
        <mat-list-item class="single-room"> Snowbording </mat-list-item>
    </a>
    <a routerLink="skating">
        <mat-list-item class="single-room"> Skating </mat-list-item>
    </a>
    <a routerLink="surfing">
        <mat-list-item class="single-room"> Surfing </mat-list-item>
    </a>
</mat-list>